.panel {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
}

.input__clear {
    width: 26px;
    height: 26px;
    position: absolute;
    align-self: center;
    right: 0;
    margin: 0 .5rem;
    border: none;
    background: #f8f6f6;
    border-radius: 50%;
}

.display-none {
    display: none;
}

.container {
    width: 500px;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

.crossed {
    text-decoration: line-through;
}

.remove,
.form-check-input,
.js-item-content {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.remove:hover {
    transform: scale(1.1);
}

.edit-item {
    color: red;
}

/*timer*/

.timer {
    margin-top: 5rem;
}

.timer__container {
    display: flex;
    flex-direction: column;
}

#smart-timer {
    font-size: 2rem;
    background-color: black;
    color: #f8f6f6;
    text-align: center;
    width: max-content;
    padding: .3rem 1rem;
    border-radius: .5rem;
    align-self: center;
}
